<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.coffeestorm.com/dsl/sheetmagic/Sheetmagic"
			class = "com.coffeestorm.dsl.sheetmagic.sheetmagic.SheetmagicPackage"
			genModel = "model/generated/Sheetmagic.genmodel" />
	</extension>
</plugin>
